django~=5.0.6
psycopg2-binary
python-decouple
qrcode[pil]
django-tailwind[reload]
djangorestframework
djangorestframework-simplejwt
django-htmx-autocomplete
pillow
reportlab
svglib
weasyprint
gunicorn
whitenoise
