<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load custom_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seeplahar{% endblock %}</title>
    <script src="{% static 'js/htmx.min.js' %}"></script>


    {% load static tailwind_tags %}
    {% load permissions %}
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}  {# Add this block #}

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body class="bg-primary-lighter text-primary-dark">
    <div class="content-container" style="height: 100vh; padding-bottom: 80px; overflow-y: auto;">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>

{# Add to base.html #}
{% block extra_js %}
    
{% endblock %}