{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  {% include "dropzone_assets.html" %}
{% endblock %}

{% block title %}{{ taxon.name }} - Seeplahar{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex">
        <div class="w-2/3 p-4">
            <div class="flex items-center justify-between border-b pb-4 mb-4">
                <h1 class="text-2xl font-bold">{{ taxon.name }}</h1>
            </div>
            <div>
                <p class="text-gray-700">{{ taxon.description }}</p>
                <p class="mt-2"><strong>Species:</strong> {{ taxon.species_name }}</p>
                <p><strong>Type:</strong> {{ taxon.get_type_display }}</p>
                <div class="mt-4">
                    <h2 class="text-lg font-semibold text-center">{{ taxon.name }} Varieties</h2>
                    <ul class="mt-2">
                        {% for variety in taxon.varieties.all %}
                            <li>
                                <a href="{% url 'taxon:variety_detail' pk=variety.id %}" class="text-blue-600 hover:underline">
                                    {{ variety.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-1/3 p-4">
            <h3 class="text-xl font-semibold mb-4">Photos</h3>
            {% include "media/photos.html" with object_type=app_label|add:'.'|add:model_name object_id=object.pk photos=object.photos.all %}
        </div>
    </div>
</div>
{% endblock %}
