<footer class="bg-gray-800 text-white py-4 mt-10">
    <div class="container mx-auto">
        <nav class="flex justify-center">
            <ul class="flex space-x-4">
                <li class="group relative">
                    <a href="#" class="hover:underline p-2 block">Type</a>
                    <ul class="absolute left-0 bottom-full mb-2 hidden group-hover:flex flex-col bg-gray-700 p-2 -mb-2 rounded-lg">
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Fruits</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Vegetables</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Herbs</a></li>
                    </ul>
                </li>
                <li class="group relative">
                    <a href="#" class="hover:underline p-2 block">Farm</a>
                    <ul class="absolute left-0 bottom-full mb-2 hidden group-hover:flex flex-col bg-gray-700 p-2 -mb-2 rounded-lg">
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Operations</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Histories</a></li>
                    </ul>
                </li>
                <li class="group relative">
                    <a href="#" class="hover:underline p-2 block">Shop</a>
                    <ul class="absolute left-0 bottom-full mb-2 hidden group-hover:flex flex-col bg-gray-700 p-2 -mb-2 rounded-lg">
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Seeds</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Produce</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</footer>
